.c-tag {
    &-ul{
        list-style: none;
        padding-inline-start: 0px;
        
    }
    &-client {
        font-size: pxToRem(18);
        display: inline-block;
        color: $d-black;
        background-color: #ccc;
        padding: 0.5rem 1rem;


        &.js-active {
            color: #fff;
            background-color: #666;
        }
    }

    &-keyword {
        font-size: pxToRem(18);
        display: inline-block;
        color: #fff;
        padding: 0.5rem 1rem;
        background-color: $d-black;
    }
}