.l-footer {
    background-color: $d-black;
    color: #fff;
    flex: 1 0 auto;
    width: 80px;
    max-width: 80px;
    min-height: 100%;
    position: relative;
    display: none;
    z-index: 1001;
    @include min-md {
        display: block;
    }

    &-copyright {
        display: flex;
        justify-content: center;
        margin-top: 16rem;

        p {
            position: relative;
            display: inline-block;
            font-size: pxToRem(15);
            opacity: 0.5;
        }

        span {
            display: inline-block;

            &:nth-child(1) {
                rotate: 90deg;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 7rem;
                transform-origin: 0 100%;
            }

            &:nth-child(2) {
                font-family: Bebas Neue;
                writing-mode: vertical-lr;
                margin-top: 7rem;
                line-height: 1;
            }
        }
    }

    &-mail {
        text-align: center;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;

        &:hover {
            opacity: 1;
        }

        img {
            width: 32px;
            height: auto;
        }
    }
}