.p-index {
    // flex: 1 0 auto;
    width: 100%;

    &-carousel {
        color: #fff;
        overflow: hidden;
        position: relative;

        &-img {
            transform: translate3d(0px, 0, 0);

            &-item {
                img {
                    width: 100%;
                    display: block;
                }
            }
        }

        &-info {
            display: flex;
            align-items: baseline;
            line-height: 1;
        }

        &-counter {
            white-space: nowrap;
            margin-right: 1rem;

            &-now {
                font-size: pxToRem(60);
            }

            &-total {
                font-size: pxToRem(30);

                &::before {
                    content: '/';
                    margin: 0 0.5rem;
                }
            }
        }

        &-title {
            font-size: pxToRem(30);
            font-weight: 400;
            overflow: hidden;

            h2 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-weight: inherit;
                font-size: inherit;
                margin: 0;
            }
        }

        &-btngroup {
            &-item {
                display: flex;

                @include min-md {
                    width: 50%;
                }

                >* {
                    flex: 1 0 auto;

                    +* {
                        margin-left: .5rem;
                    }
                }
            }
        }

        &-card {
            box-sizing: border-box;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            translate: -50% 0;
            left: 50%;
            bottom: 0;
            width: 85%;
            padding: 5% 6%;
            z-index: 1;

            @include min-md {
                translate: 0 0;
                left: auto;
                right: 0;
                width: 60%
            }

            @include min-lg {
                width: 40%
            }

        }

        &-dots {
            list-style: none;
            padding-inline-start: 0px;
            display: flex;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;

            li {
                flex: 1 0 auto;
                height: 2px;
                background-color: $d-gray;
                margin: 0 0.5rem;
                cursor: pointer;
                border-radius: 0;
                opacity: 1;

                span {
                    content: "";
                    display: block;
                    width: 0;
                    height: 2px;
                    background-color: #fff;
                }
            }
        }
    }
}