.p-index {
    // flex: 1 0 auto;
    width: 100%;

    &-carousel {
        color: #fff;
        overflow: hidden;
        position: relative;
        height: pxToVw($media: 960, $px: 1200);
        @include min-md {
            height: pxToVw($media: 768, $px: 342);
        }
        @include min-xl {
            height: pxToVw($media: 992, $px: 461);
        }
        @include min-xl {
            height: pxToVw($media: 1200, $px: 583);
        }



        &-img {
            &-item {
                width: 100%;
                height: 100%;
                position: absolute;
                translate: -50% -50%;
                top: 50%;
                left: 50%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &-info {
            display: flex;
            align-items: baseline;
            line-height: 1;
        }

        &-counter {
            white-space: nowrap;
            margin-right: 1rem;

            &-now {
                font-size: pxToRem(60);
            }

            &-total {
                font-size: pxToRem(30);

                &::before {
                    content: '/';
                    margin: 0 0.5rem;
                }
            }
        }

        &-title {
            font-size: pxToRem(30);
            font-weight: 400;
            overflow: hidden;

            h2 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-weight: inherit;
                font-size: inherit;
                margin: 0;
            }
        }

        &-btngroup {
            &-item{
                display: flex;
                @include min-md {
                    width: 50%;
                }
                >* {
                    flex: 1 0 auto;
    
                    +* {
                        margin-left: .5rem;
                    }
                }
            }
        }

        &-card {
            box-sizing: border-box;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            translate: -50% 0;
            left: 50%;
            bottom: 0;
            width: 85%;
            padding: 5% 6%;

            @include min-md {
                translate: 0 0;
                left: auto;
                right: 0;
                width: 60%
            }

            @include min-lg {
                width: 40%
            }

        }

        &-dots {
            list-style: none;
            padding-inline-start: 0px;
            display: flex;
            margin-bottom: 1.5rem;

            li {
                flex: 1 0 auto;
                height: 2px;
                background-color: $d-gray;
                margin: 0 0.5rem;
                cursor: pointer;

                span {
                    display: block;
                    width: 0;
                    height: 2px;
                    background-color: #fff;
                }
            }
        }
    }
}