.c-button {
    cursor: pointer;
    >* {
        box-sizing: border-box;
    }
    a{
        text-decoration: none;
    }

    button {
        background-color: transparent;
        border: 0;
        padding: 0;
        position: relative;
    }

    // 選單按鈕
    &-humberger {
        @include min-md {
            margin-bottom: 13rem;
        }

        button {
            width: 38px;
            height: 20px;
            opacity: 0.5;

            span {
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                background-color: #fff;
                transition: all 0.3s ease-in-out;
                translate: 0 -50%;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: 50%;
                }

                &:nth-child(3) {
                    top: 100%;
                }
            }

            &:hover {
                opacity: 1;
            }
        }

        &.js-menuOpend {
            button {
                span {
                    &:nth-child(1) {
                        top: 50%;
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        top: 50%;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

    &-close {
        button {
            width: 42px;
            height: 42px;
            opacity: 0.5;

            span {
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                background-color: $d-black;
                transition: all 0.3s ease-in-out;
                translate: 0 -50%;

                &:nth-child(1) {
                    top: 50%;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    top: 50%;
                    transform: rotate(-45deg);
                }

            }

            &:hover {
                opacity: 1;
            }
        }
    }

    &-back {
        button {
            width: 40px;
            height: 40px;
            opacity: 0.5;

            img {
                width: 100%;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    &-more {
        background-color: #fff;
        color: $d-black;
        font-size: pxToRem(18);

        >* {
            height: 50px;
            padding: 1rem;
        }

        img {
            width: 14px;
        }

    }

    &-submit {
        color: #fff;
        font-size: pxToRem(30);
        font-family: Bebas Neue;
        background-color: $d-gray;
        display: flex;
        justify-content: center;
        align-items: center;

        >* {
            height: 80px;
            color: inherit;
            line-height: 1;
        }

        img {
            width: 36px;
        }
    }

    &-filter {
        width: 36px;
        height: 36px;
        max-width: 36px;
        flex: 1 0 auto;
        position: relative;
        box-sizing: border-box;
        padding: 2px;

        >* {
            width: 100%;
        }
        img{
            width: 100%;
            display: block;
        }
        &-icon{
            &--open{
                display: block;
            }
            &--close{
                
                display: none;
                padding: 0.2rem;
            }
        }
        &.js-filterOpend{
            .c-button-filter-icon--open{
                display: none;
            }
            .c-button-filter-icon--close{
                display: block;
            }
        }
    }

    &-search {
        flex: 1 0 auto;
        width: 40px;
        height: 40px;
        max-width: 40px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: invert(1);
        opacity: 1;
        transition: opacity 0.3s ease-in-out;

        img {
            width: 24px;
            height: 24px;
            display: block;
        }

        &:hover {
            opacity: 0.2;

            @include min-md {
                opacity: 0.5;
            }
        }
    }

    &-tagclose {
        position: relative;
        &::before,&::after {
            content: "";
            display: block;
            width: 60%;
            height: 3px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
        }
        &::before{
            rotate: 45deg;
        }
        &::after{
            rotate: -45deg;
        }
    }

    &--deco--icon {
        >* {
            color: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        img {
            max-width: 100%;
        }

        span {
            line-height: 1;

            &:nth-child(1) {
                margin-right: 0.5rem;
            }
        }
    }

    &--hover--opacity {
        >* {
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
        }

        &:hover {
            >* {
                opacity: 0.5;

            }
        }
    }

    &--hover--circle {
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            background-color: color.adjust($d-gray, $lightness: -20%);
            border-radius: 100%;
            display: block;
            position: absolute;
            translate: -50% -50%;
            top: 50%;
            left: 50%;
            transition: all 0.3s ease-in-out;
            width: 0px;
            height: 0px;
            opacity: 0;
        }

        &:hover {
            span {
                filter: invert(1);
            }

            &::before {
                width: 1200px;
                height: 1200px;
                opacity: 1;
            }
        }
    }
}