// 用在h1~h6上的標題設定
.c-title {
    &-pages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 2px solid $d-black;
        padding-left: 2rem;

        span {
            &:nth-child(1) {
                font-size: pxToRem(24);
                font-weight: 400;
                color: $d-black;
            }

            &:nth-child(2) {
                font-family: Bebas Neue;
                font-size: pxToRem(48);
                font-weight: 400;
                color: $d-gray;
                line-height: 0.75;
                margin-top: 1rem;
            }
        }
    }

    &-works {
        position: relative;
        padding-left: 20px;
        display: flex;
        align-items: center;

        span {
            font-size: pxToRem(18);
            font-weight: 400;
            color: $d-black;
            position: relative;
            top: 1px;
        }

        // 裝飾用十字
        &::before,
        &::after {
            content: '';
            display: block;
            width: 13px;
            height: 4px;
            background-color: $d-black;
            position: absolute;
            translate: 0 -50%;
            top: 50%;
            left: 0;
        }

        &::after {
            rotate: 90deg;
        }
    }
    
}