// 顏色設定===============================================================
$d-black:#191C1A;
$d-gray:#666666;

$d-textColor:$d-black;

$d-primary:#EFC048;
$d-secondary:#FFDF98;
$d-thrird:#FFF8EB;
$d-fourth:#FFB693;

$d-gray-100:#EAEEF1;
$d-gray-200:#BFC8CC;
$d-gray-300:#899296;


// 尺寸設定===============================================================
$pc-width: 1920px;

$mb-width: 960px;


$border-setting: 1px solid $d-primary;