html,
body {
    background-color: #fff;
}

section {
    padding: 1rem 2rem;
}

#takePhoto {
    padding: 2rem;
    padding-top: 1px;
    background-color: rgba(0, 176, 255, 0.1);
    border-radius: 25px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    flex: 1 0 auto;
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
}

img {
    display: block;
}

.acc-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.flex {
    display: flex;
    gap: 1rem;
}

.w-100 {
    width: 100%;
}

h2 {
    color: $d-primary;
    font-weight: normal;
    font-size: pxToRem(28);
    position: relative;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 2rem 0;
    padding-bottom: 1rem;

    &::before {
        content: "";
        width: 50px;
        height: 2px;
        background-image: $d-linear-gradient;
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50% 0;
    }
}

h3 {
    color: $d-primary;
    font-size: pxToRem(18);
}

* {
    box-sizing: border-box;
}