.p-index {
    &-container {
        display: flex;
        flex-direction: column;
        text-align: center;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }

    &-ymk {
        &-wrapper {
            position: relative;
            transform-origin: top left;
            /* 從左上角開始縮放 */
            width: fit-content;
        }


        &-frames {
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
        }

        #YMK-module {
            width: fit-content;
        }
    }

    &-app {
        width: 100%;
    }

    &-content {
        width: 100%;
    }

    &-txt {
        width: 60%;

        >div {
            background-color: rgba(#00E5FF, 0.1);
            padding: 10px;
            border-radius: 25px;
            margin-bottom: 10px;
        }

        h3 {
            text-align: center;
            margin: 0;
            margin-bottom: 0.5rem;
        }

        .flex {
            justify-content: center;
            align-items: flex-end;
        }

        p {
            margin: 0;
        }

        p:nth-child(1) {
            font-size: 2rem;
        }

        p:nth-child(2) {
            padding-bottom: 4px;
        }
    }

    &-photo {
        overflow: hidden;
        background-image: $d-linear-gradient;
        padding: 10px;
        border-radius: 500px;
        width: 40%;

        img {
            border-radius: 500px;
            width: 100%;
        }
    }

    &-chart {
        &-chart {
            canvas {
                width: 100% !important;
                height: auto !important;
            }
        }
    }

    &-card {
        background-color: #fff;
        border-radius: 25px;
        padding: 1rem;
    }

    &-result {
        &-items {
            text-align: center;
            width: calc((100%/3) - 1rem);
            display: flex;
            flex-direction: column;

            h3 {
                color: inherit;
                flex: 1 0 auto;
            }

            &:nth-child(1) {
                stroke: #3D5AFE;
                color: #3D5AFE;
            }

            &:nth-child(2) {
                stroke: #00B0FF;
                color: #00B0FF;
            }

            &:nth-child(3) {
                stroke: #00E5FF;
                color: #00E5FF;
            }

            &:nth-child(4) {
                stroke: #1DE9B6;
                color: #1DE9B6;
            }

            &:nth-child(5) {
                stroke: #00E676;
                color: #00E676;
            }

            &:nth-child(6) {
                stroke: #76FF03;
                color: #76FF03;
            }
        }

        &-chart {
            position: relative;
        }

        svg {
            width: 100%;
            transform: rotate(-90deg);
            /* 讓起點從 12 點鐘方向開始 */
        }

        .circle-bg {
            fill: none;
            stroke: #eee;
            stroke-width: 15;
        }

        .circle-fg {
            fill: none;
            stroke-width: 15;
            stroke-linecap: round;
            stroke-dasharray: 502.6548245743669;
            // stroke-dashoffset: 502.6548245743669;
            transition: stroke-dashoffset 0.5s ease;
        }

        .label {
            font-size: 1.5rem;
            position: absolute;
            top: calc(50% - 2px);
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }

    &-frames {
        font-size: pxToRem(24);
    }
}